<h3>Travis: Current Build for {{repositoryName}}</h3>
{{#with currentBuild}}
  <table>
    <tr>
      <td>Build:</td>
      <td>{{number}}</td>
      <td>Commit:</td>
      <td>{{commit}} ({{branch}})</td>
    </tr>
    <tr>
      <td>Status:</td>
      <td>{{status}} (needs to map to text)</td>
      <td>Finished:</td>
      <td>{{finished_at}}</td>
    </tr>
    <tr>
      <td>Duration:</td>
      <td>{{duration}}</td>
    </tr>
    <tr>
      <td>Message:</td>
      <td colspan="3">{{message}}</td>
    </tr>
  </table>
{{/with}}

<hr>

<h3>Travis: Build History for {{repositoryName}}</h3>

<table>
  <tr>
    <th>Build</th>
    <th>Message</th>
    <th>Commit</th>
    <th>Duration</th>
    <th>Finished</th>
  </tr>
  {{#each builds}}
    <tr>
      <td>{{number}}</td>
      <td>{{message}}</td>
      <td>{{commit}}</td>
      <td>{{duration}}</td>
      <td>{{finished_at}}</td>
    </tr>
  {{/each}}
</table>
