<table>
  <tr>
    <td>Build:</td>
    <td>{{content.number}}</td>
    <td>Commit:</td>
    <td>{{commit}} ({{branch}})</td>
  </tr>
  <tr>
    <td>Status: </td>
    <td>{{statusMsg}}</td>
    <td>Finished:</td>
    <td>{{finished_at}}</td>
  </tr>
  <tr>
    <td>Duration:</td>
    <td>{{durationMsg}}</td>
  </tr>
  <tr>
    <td>Message:</td>
    <td colspan="3">{{message}}</td>
  </tr>
</table>
